<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= @recipe.title %></h2>
  </div>
    <div class="coffee_recipe panel-body">
      <div class="user-info">
        Created by <%= link_to @user.name, user_path(@user) %>
        <%= link_to 'edit', edit_recipe_path(@recipe) %>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading"><h4>This recipe uses</h4></div>
        <div class="panel-body">
          Coffee: <%= link_to @recipe.coffee_bean.name, user_coffee_bean_path(@user, @recipe.coffee_bean)  %>
        </div>
      </div>
      <p><%= @recipe.description %></p>
      <ul class="list-group">
        <li class="list-group-item"><strong>Water temperature:</strong> <%= @recipe.water_temp %> &#8451</li>
        <li class="list-group-item"><strong>Water volume:</strong> <%= @recipe.water_vol %> ml</li>
        <li class="list-group-item"><strong>Coffee amount:</strong> <%= @recipe.coffee_amount %> g</li>
      </ul>
      <div class="recipe-technique">
        <h4>Recipe Technique</h4>
        <p><%= @recipe.technique %></p>
      </div>
   </div>
  </div>
</div>