<%= form_for [@user, @recipe], html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :title, class: "col-sm-2 control-label"%>
      <div class="col-sm-6">
        <%= f.text_field :title, class: "form-control"%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>

     <div class="form-group">
      <div class="col-sm-6 col-sm-offset-2">
        <%= f.collection_select(:coffee_bean_id, @coffee, :id, :name, {prompt: "Choose Coffee"}, {class: "form-control"})  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :water_vol, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :water_vol, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :coffee_amount, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :coffee_amount, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :water_temp, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :water_temp, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :technique, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_area :technique, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-2">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
<% end %>

<%= render partial: "shared/error_messages", locals: {object: @recipe} %>


