<!DOCTYPE html>
<html>
<head>
  <title>CoffeeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Coffee Recipes", recipes_path, class: "navbar-brand" %>
    </div>
    <div class="user-menu navbar-right">
      <% if current_user %>
        <%= link_to current_user.name, user_path(current_user) %>
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "Log out", session_path("current"), :method => :delete %>
        </button>
      <% else %>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to "Login", new_session_path %></button>
      <% end %>
    </div>
  </div>
</nav>

<div class="container content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
